a {
  color: #536a90;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 35px 0 25px 0;
}

p,
ol,
table {
  color: #6f6f6f
}

pre {
  padding: 30px;
  background: #fff;
  font: 12px / 18px Consolas, monospace, serif;
  color: #6f6f6f;
  -moz-tab-size: 4;
  tab-size: 4;
  overflow: auto;
  border: 1px solid #EEEEEE;
  border-radius: 3px;
}

:not(pre)>code {
  font-size: 12px;
  color: #f0615c;
  white-space: nowrap;
  padding: 1px 6px 3px 6px;
  border: 1px solid #EEEEEE;
  border-radius: 3px;
}

.card {
  background: #fff;
  margin-top: 25px;
  padding: 40px;
}

.teaser {
  margin: -40px -40px -40px -40px;
}

.header {
  margin-top: 80px;
}

@media only screen and (min-width: 960px) {
  .card {
    background: #fff;
    margin-top: 45px;
    padding: 70px;
  }

  .teaser {
    margin: -70px -70px -70px -70px;
  }

  .header {
    margin-top: 110px;
  }
}

.displayblock {
  display: block !important;
}

.title {
  font-size: 38px;
  line-height: 46px;
  font-weight: 400;
  text-transform: none;
}

.title>a {
  color: #536a90;
  text-decoration: none;
  cursor: pointer;
}

.subtitle {
  font-style: normal;
  font-size: 101%;
  font-weight: 400;
}

.meta {
  color: #A5A5A5;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.meta>a {
  color: #757575;
}

.slug {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  letter-spacing: .04em;
  padding: .25em .5em;
  position: relative;
  text-transform: uppercase;
  z-index: 2;
  font-size: 26px;
  margin-right: 10px;
}

.banner {
  margin-top: -45.5px;
  z-index: 1;
}

@media only screen and (max-width: 540px) {
  .slug {
    font-size: 14px;
  }

  .banner {
    margin-top: -25.5px;
  }
}

.content>ul>li {
  color: #6f6f6f;
}