.container {
  margin-bottom: 35px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  height: 120px;
  margin-bottom: 1.45rem;
}

@media (max-width: 767px) {
  .container {
    display: block;
    margin: 0 0 20px 0;
    padding-left: 25px;
    text-align: left;
  }
  .logo {
    margin-left: 15px;
    height: 60px;
  }
}