.cover {
  /* padding-bottom: 25px; */
}

@media (min-width: 768px) {
  .cover {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (min-width: 960px) {
  .cover {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.header {
  height: 150px;
  margin-bottom: 35px;
  width: 150px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .header {
    height: 80px;
    margin-top: 0;
    margin-bottom: 20px;
    width: 80px;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }
}