html {
  background-color: #f5f5f5;
  font-size: 17px;
}

.page {
  background-color: #f5f5f5;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px 70px;
}

.header {
  margin-bottom: 35px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  height: 120px;
  margin-bottom: 1.45rem;
}

.cover {
  padding-top: 25px;
  padding-bottom: 25px;
}

@media only screen and (min-width: 540px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .cover {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .header {
    display: block;
    margin: 0 0 20px 0;
    margin-top: 0;
    text-align: left;
  }
  .logo {
    margin-left: 15px;
    height: 60px;
  }
}

@media only screen and (min-width: 960px) {
  .container {
    width: 66.67%;
    max-width: 60rem;
  }

  .cover {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}