.meta {
  color: #333;
  display: block;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.title {
  display: block;
}

@media (prefers-color-scheme: dark) {
  .meta {
    color: #eee;
  }
}
