a {
  color: #536a90;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 35px 0 25px 0;
}

p {
  color: #6f6f6f
}

pre {
  padding: 30px;
  background: #fff;
  font: 12px / 18px Consolas,monospace,serif;
  color: #6f6f6f;
  -moz-tab-size: 4;
  tab-size: 4;
  overflow: auto;
  border: 1px solid #EEEEEE;
  border-radius: 3px;
}

:not(pre) > code {
  font-size: 12px;
  color: #f0615c;
  white-space: nowrap;
  padding: 1px 6px 3px 6px;
  border: 1px solid #EEEEEE;
  border-radius: 3px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px 70px;
}

@media only screen and (min-width: 33.75em) {

  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 60em) {

  /* 960px */
  .container {
    width: 66.67%;
    max-width: 60rem;
  }
}

.article {
  background: #fff;
  margin-top: 45px;
  padding: 70px;
}

.articleteaser {
  margin: -70px -70px -70px -70px;
}

.articlecontent {
  margin-top: 80px;
}

@media (max-width: 768px) {
  .article {
    margin-top: 25px;
    padding: 40px;
  }

  .articleteaser {
    margin: -40px -40px -40px -40px;
  }

  .articlecontent {
    margin-top: 50px;
  }
}

.displayblock {
  display: block !important;
}

.articletitle {
  font-size: 38px;
  line-height: 46px;
  font-weight: 400;
  text-transform: none;
}

.articletitle>a {
  color: #536a90;
  text-decoration: none;
  cursor: pointer;
}

.articlesubtitle {
  font-style: normal;
  font-size: 101%;
  font-weight: 400;
}

.articlemeta {
  color: #A5A5A5;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.pagination {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: .001px;
  margin-top: 25px;
}

.pagination:before,
.pagination:after {
  content: "";
  display: table;
}

.pagination:after {
  clear: both;
}

.pagination>li {
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
}

.pagination>li:nth-child(n+2) {
  margin-left: 5px;
}

.pagination>li>a,
.pagination>li>span {
  display: inline-block;
  min-width: 26px;
  padding: 5px 5px;
  line-height: 26px;
  text-decoration: none;
  box-sizing: content-box;
  text-align: center;
}

.pagination>li>a {
  background: transparent;
  color: #A5A5A5;
}

.pagination>li>a:hover,
.pagination>li>a:focus {
  background-color: transparent;
  color: #222;
  outline: none;
}

.pagination>li>a:active {
  background-color: transparent;
  color: #222;
}

.pagination>.active>a {
  background: transparent;
  color: #222;
}

.navpost {
  margin: 30px 0 30px 0;
}

.navmeta {
  color: #333333;
  display: block;
  letter-spacing: 0.04em;
}

.navcontainer {
  width: 50%;
  display: inline-table;
  margin: 20px 0;
}

.navtitle {
  display: block;
}